*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    color: rgb(44, 151, 151);
}
.t1{
    color: red;
}

.texto{
    color: rgb(255, 0, 242);
}
.branco{
    width: 100%;
    height: 300px;
    background: rgb(245, 245, 245);
}
.black{
    width: 100%;
    height: 400px;
    background: rgba(230, 112, 224, 0.658);
    padding: 40px;
}
header{
    padding: 10px;
    position: fixed;
    color: rgb(167, 5, 182);
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}
footer{
    padding: 30px;
    text-align: center;
    font-size: 12px;
}